#jinja2
# {{ ansible_managed }}
# {{ ansible_managed }}
data_dir = "/var/lib/vector/"

[api]
enabled = true
address = "127.0.0.1:8686"

[sources.demo_logs]
type = "demo_logs"
format = "json"
interval = 1

[sinks.clickhouse]
type = "clickhouse"
inputs = ["demo_logs"]
endpoint = "http://{{ hostvars['clickhouse-dev-1'].ansible_host_internal }}:8123"
database = "logs"
table = "logs_table"
skip_unknown_fields = true
auth.strategy = "basic"
auth.user = "default"
auth.password = ""

[sinks.stdout]
type = "console"
inputs = ["demo_logs"]
encoding.codec = "json"